* text=auto !eol
colorbox/black-greybox/colorbox.css -text
colorbox/black-greybox/colorbox_rtl.css -text
colorbox/black-greybox/images/border.png -text
colorbox/black-greybox/images/controls.png -text
colorbox/black-greybox/images/loading.gif -text
colorbox/black-greybox/images/loading_background.png -text
colorbox/black-greybox/vignette.jpg -text
colorbox/black-simple/colorbox.css -text
colorbox/black-simple/colorbox_rtl.css -text
colorbox/black-simple/images/controls.png -text
colorbox/black-simple/images/loading.gif -text
colorbox/black-simple/vignette.jpg -text
colorbox/black-striped/colorbox.css -text
colorbox/black-striped/colorbox_rtl.css -text
colorbox/black-striped/images/border.png -text
colorbox/black-striped/images/controls.png -text
colorbox/black-striped/images/loading.gif -text
colorbox/black-striped/images/loading_background.png -text
colorbox/black-striped/images/overlay.png -text
colorbox/black-striped/vignette.jpg -text
colorbox/bootstrap/colorbox.css -text
colorbox/bootstrap/colorbox_rtl.css -text
colorbox/bootstrap/images/bg_content.png -text
colorbox/bootstrap/images/close.png -text
colorbox/bootstrap/images/loading.gif -text
colorbox/bootstrap/images/next.png -text
colorbox/bootstrap/images/prev.png -text
colorbox/bootstrap/images/start.png -text
colorbox/bootstrap/images/start_rtl.png -text
colorbox/bootstrap/images/stop.png -text
colorbox/bootstrap/vignette.jpg -text
colorbox/colorbox.ai -text
colorbox/demo.jpg -text
colorbox/fancybox/colorbox.css -text
colorbox/fancybox/colorbox_rtl.css -text
colorbox/fancybox/images/fancy_closebox.png -text
colorbox/fancybox/images/fancy_left.png -text
colorbox/fancybox/images/fancy_pause.png -text
colorbox/fancybox/images/fancy_play.png -text
colorbox/fancybox/images/fancy_play_rtl.png -text
colorbox/fancybox/images/fancy_right.png -text
colorbox/fancybox/images/fancy_shadow-spt1.png -text
colorbox/fancybox/images/fancy_shadow-spt2.png -text
colorbox/fancybox/images/fancy_shadow_e.png -text
colorbox/fancybox/images/fancy_shadow_n.png -text
colorbox/fancybox/images/fancy_shadow_ne.png -text
colorbox/fancybox/images/fancy_shadow_nw.png -text
colorbox/fancybox/images/fancy_shadow_s.png -text
colorbox/fancybox/images/fancy_shadow_se.png -text
colorbox/fancybox/images/fancy_shadow_sw.png -text
colorbox/fancybox/images/fancy_shadow_w.png -text
colorbox/fancybox/images/fancy_title_over.png -text
colorbox/fancybox/images/loading.gif -text
colorbox/fancybox/mediabox_config_theme.php -text
colorbox/fancybox/vignette.jpg -text
colorbox/thickbox/colorbox.css -text
colorbox/thickbox/colorbox_rtl.css -text
colorbox/thickbox/images/close.gif -text
colorbox/thickbox/images/controls.png -text
colorbox/thickbox/images/loading.gif -text
colorbox/thickbox/vignette.jpg -text
colorbox/white-shadow/colorbox.css -text
colorbox/white-shadow/colorbox_rtl.css -text
colorbox/white-shadow/images/border1.png -text
colorbox/white-shadow/images/border2.png -text
colorbox/white-shadow/images/loading.gif -text
colorbox/white-shadow/vignette.jpg -text
colorbox/white-simple/colorbox.css -text
colorbox/white-simple/colorbox_rtl.css -text
colorbox/white-simple/images/controls.png -text
colorbox/white-simple/images/loading.gif -text
colorbox/white-simple/images/start_rtl.png -text
colorbox/white-simple/vignette.jpg -text
formulaires/configurer_mediabox.html -text
formulaires/configurer_mediabox.php -text
javascript/README -text
javascript/jquery.colorbox.js -text
javascript/spip.mediabox.js -text
javascript/splash.mediabox.js -text
lang/mediabox.xml -text
lang/mediabox_ar.php -text
lang/mediabox_de.php -text
lang/mediabox_en.php -text
lang/mediabox_eo.php -text
lang/mediabox_es.php -text
lang/mediabox_fa.php -text
lang/mediabox_fr.php -text
lang/mediabox_fr_fem.php -text
lang/mediabox_fr_tu.php -text
lang/mediabox_it.php -text
lang/mediabox_ja.php -text
lang/mediabox_lb.php -text
lang/mediabox_nl.php -text
lang/mediabox_oc_ni_mis.php -text
lang/mediabox_pt.php -text
lang/mediabox_pt_br.php -text
lang/mediabox_ru.php -text
lang/mediabox_sk.php -text
lang/mediabox_uk.php -text
lang/paquet-mediabox.xml -text
lang/paquet-mediabox_ar.php -text
lang/paquet-mediabox_br.php -text
lang/paquet-mediabox_en.php -text
lang/paquet-mediabox_eo.php -text
lang/paquet-mediabox_es.php -text
lang/paquet-mediabox_fa.php -text
lang/paquet-mediabox_fr.php -text
lang/paquet-mediabox_fr_fem.php -text
lang/paquet-mediabox_fr_tu.php -text
lang/paquet-mediabox_it.php -text
lang/paquet-mediabox_lb.php -text
lang/paquet-mediabox_nl.php -text
lang/paquet-mediabox_oc_ni_mis.php -text
lang/paquet-mediabox_pt.php -text
lang/paquet-mediabox_pt_br.php -text
lang/paquet-mediabox_ru.php -text
lang/paquet-mediabox_sk.php -text
lang/paquet-mediabox_uk.php -text
/mediabox_ieconfig.php -text
/mediabox_pipelines.php -text
prive/colorbox/white-shadow/colorbox.css -text
prive/colorbox/white-shadow/colorbox_rtl.css -text
prive/colorbox/white-shadow/images/border1.png -text
prive/colorbox/white-shadow/images/border2.png -text
prive/colorbox/white-shadow/images/controls.png -text
prive/colorbox/white-shadow/images/loading.gif -text
prive/colorbox/white-shadow/vignette.jpg -text
prive/squelettes/contenu/configurer_mediabox.html -text
prive/themes/spip/images/mediabox-16.png -text
prive/themes/spip/images/mediabox-24.png -text
prive/themes/spip/images/mediabox-32.png -text
prive/themes/spip/images/mediabox-64.png -text
