parameters:
	ignoreErrors:
		-
			message: "#^Function _T not found\\.$#"
			count: 1
			path: formulaires/configurer_mediabox.php

		-
			message: "#^Function _request not found\\.$#"
			count: 4
			path: formulaires/configurer_mediabox.php

		-
			message: "#^Function ecrire_meta not found\\.$#"
			count: 1
			path: formulaires/configurer_mediabox.php

		-
			message: "#^Function effacer_meta not found\\.$#"
			count: 1
			path: formulaires/configurer_mediabox.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: formulaires/configurer_mediabox.php

		-
			message: "#^Function set_request not found\\.$#"
			count: 2
			path: formulaires/configurer_mediabox.php

		-
			message: "#^Function _T not found\\.$#"
			count: 2
			path: inc/mediabox.php

		-
			message: "#^Function attribut_html not found\\.$#"
			count: 1
			path: inc/mediabox.php

		-
			message: "#^Function chercher_filtre not found\\.$#"
			count: 1
			path: inc/mediabox.php

		-
			message: "#^Function creer_chemin not found\\.$#"
			count: 1
			path: inc/mediabox.php

		-
			message: "#^Function _T not found\\.$#"
			count: 1
			path: mediabox_ieconfig.php

		-
			message: "#^Function _T not found\\.$#"
			count: 10
			path: mediabox_pipelines.php

		-
			message: "#^Function direction_css not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function ecrire_config not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function extraire_attribut not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function find_in_path not found\\.$#"
			count: 2
			path: mediabox_pipelines.php

		-
			message: "#^Function html2unicode not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 5
			path: mediabox_pipelines.php

		-
			message: "#^Function lien_article_virtuel not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function lire_config not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function pipeline not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function produire_fond_statique not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function test_espace_prive not found\\.$#"
			count: 2
			path: mediabox_pipelines.php

		-
			message: "#^Function timestamp not found\\.$#"
			count: 2
			path: mediabox_pipelines.php

		-
			message: "#^Function unicode2charset not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

		-
			message: "#^Function url_absolue not found\\.$#"
			count: 1
			path: mediabox_pipelines.php

