.box_mediabox:before {
	background: #777777;
	opacity:0.7;
}

.box_mediabox .lity-container {
	box-shadow: 0 0 20px rgba(0, 0, 0, .4);
	padding:10px;
}
.box_mediabox .lity-content:after {
	left:-10px;
	right:-10px;
	top:-10px;
	bottom:-10px;
	border:10px solid #fff;
	background: #fff;
	box-shadow: none;
}

.lity-content {
	opacity: 1;
  -webkit-transition: -webkit-transform .3s ease, opacity .3s ease;
  transition: -webkit-transform .3s ease, opacity .3s ease;
  -o-transition: -o-transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease, -webkit-transform .3s ease, -o-transform .3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 0.8;
}

/* focus */
.box_mediabox button[class*="lity-"]:focus{
	outline: 1px dotted #ccc;
}

/* Close button */
.lity-close,
.lity-close:hover,
.lity-close:active,
.lity-close:focus {
	position: absolute;
	top:0;
	right: 0;
	margin-top: -0.925rem;
	margin-right: -0.925rem;
	width: 1.85rem;
	height: 1.85rem;
	line-height: 1.5rem;
	font-size: 1.5rem;
	background: #000;
	color: #fff;
	border-radius: 50%;
	border: 0.175rem solid #fff;
}
.lity-close:hover,
.lity-close:active,
.lity-close:focus {
	color: #eee;
}

/* Group navigation */
.lity-group-caption .lity-group-current {
	display: block;
	position: absolute;
	top:-1.5rem;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.lity-loading .lity-group-caption .lity-group-current {
	left:50%;
	margin-left: -2.125em;
	width: 4.5em;
	right: auto;
	text-align: center;
	top:50%;
	margin-top:-1.5em;
	color: #fff;
}

/* start stop */
.lity-loading .lity-group-start-stop {
	display: none;
}
.lity-group-start-stop {
}
.lity-group-start-stop button {
	position: absolute;
	top:0;
	left: 0;
	margin-top: -0.925rem;
	margin-left: -0.925rem;
	width: 1.85rem;
	height: 1.85rem;
	line-height: 1.5rem;
	font-size: 1.5rem;
	background: #000;
	color: #fff;
	border-radius: 50%;
	border: 0.175rem solid #fff;
	z-index: 5;
}

.lity-group-start-stop button:active,
.lity-group-start-stop button:hover,
.lity-group-start-stop button:focus {
	color:#eee;
}


.lity-group-start-stop button b {
}

.lity-group-start-stop .lity-start {
	font-size: 1px;
	text-indent: -5px;
	display: block;
	margin: 0.1rem auto;
	margin-left: 0.37rem;
	border: 0.5rem solid transparent;
	border-left-color: #fff;
	width: 1rem;
	height: 1rem;
}
.lity-group-start-stop .lity-start:active,
.lity-group-start-stop .lity-start:hover,
.lity-group-start-stop .lity-start:focus {
	border-left-color: #eee;
}

.lity-group-start-stop .lity-stop {
	display: none;
}
.lity-slideshow .lity-group-start-stop .lity-start {
	display: none;
}
.lity-slideshow .lity-group-start-stop .lity-stop {
	font-size: 1px;
	text-indent: -5px;
	display: block;
	margin: 0.1rem auto;
	width: 0.7rem;
	height: 0.7rem;
	margin-left: 0.20rem;
	background: #fff;
}
.lity-group-start-stop .lity-stop:active,
.lity-group-start-stop .lity-stop:hover,
.lity-group-start-stop .lity-stop:focus {
	background: #eee;
}


/* Next, prev */
.lity-next, .lity-previous {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	border:0;
	top:0;
	left:0;
	width: 33%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: transparent;
}
.lity-next[disabled], .lity-previous[disabled] {
	display: none;
}

.lity-next {
	left: auto;
	right: 0;
}

.lity-next b, .lity-previous b {
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-top: -0.925rem;
	width: 1.85rem;
	height: 1.85rem;
	line-height: 1.55rem;
	font-size: 1.25rem;
	background: #000;
	color: #fff;
	border-radius: 50%;
	border: 0.175rem solid #fff;
	opacity: 0;
	left:2rem;
	padding-right: 0.10rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.lity-next b {
	right: 2rem;
	left: auto;
	padding-left: 0.10rem;
	padding-right: 0;
}

.lity-next:hover b, .lity-previous:hover b,
.lity-next:active b, .lity-previous:active b,
.lity-next:focus b, .lity-previous:focus b {
	display: inline-block;
	opacity: 1;
}

/* Caption */
.lity-image-figure {
	position: relative;
}
.lity-image-caption {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	color: #fff;
	font-style: italic;
	padding: 1rem;
}

.lity-group-progress-bar-status {
	background: #333;
}
