.box_mediabox {
	display: block;
	margin:0;
	padding:0;
	width: auto;
	height: auto;
}
.box_mediabox .lity-container {
	max-width: 90%;
	max-height: 90%;
}

.box_mediabox.lity-inline .lity-content {
	padding: 1rem;
	background: #fff;
}

.box_mediabox.lity-iframe .lity-iframe-container iframe {
	background: #fff;
}