.box_mediabox {
	display: block;
	margin:0;
	padding:0;
	width: auto;
	height: auto;
}
.box_mediabox .lity-container {
	max-width: 90%;
	max-height: 90%;
}

.box_mediabox.lity-image .lity-image-img {
	background: #fff;
}
.box_mediabox.lity-inline .lity-content,
.box_mediabox.lity-ajax .lity-content {
	background: #fff;
}

.box_mediabox.lity-inline .lity-content>*,
.box_mediabox.lity-ajax .lity-content-inner {
	overflow: auto;
	padding: 1rem;
}

.box_mediabox.lity-iframe .lity-iframe-container iframe {
	background: #fff;
}
/* antiscroll */
.lity-active body {
	height: auto !important;
	overflow: hidden !important;
}

/* Loader */
.lity-loading .box-loading {
  display: inline-block;
  width: 5em;
  height: 5em;
}
.lity-loading .box-loading:after {
	content: " ";
	display: block;
	width: 4em;
	height: 4em;
	margin: 0.5em;
	border-radius: 50%;
	border: 0.375em solid #888;
	border-color: #888 transparent #888 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* focus */
.box_mediabox button[class*="lity-"]:focus{
	outline: 2px dotted #fff;
}

.lity-close,
.lity-close:hover,
.lity-close:active,
.lity-close:focus {
	top:4px;
	right: 2px;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 2.5rem;
}

/* Group navigation */
.lity-group-caption .lity-group-current {
	display: block;
	position: absolute;
	top:-1.5rem;
	right: 0;
	color: #fff;
	font-weight: bold;
}
.lity-loading .lity-group-caption .lity-group-current {
	left:-2.0em;
	width: 4.5em;
	right: auto;
	text-align: center;
	top:0.75em;
}

/* start stop */
.lity-loading .lity-group-start-stop {
	display: none;
}
.lity-group-start-stop {
	display: block;
	position: absolute;
	top:-1.5rem;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.lity-group-start-stop button {
	display: inline-block;
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	color:#fff;
}
.lity-group-start-stop button b {
	color: transparent;
}
.lity-group-start-stop button b::after {
	content: attr(title);
	display: inline-block;
	color: #fff;
	padding-right: 0.75em;
}

.lity-group-start-stop .lity-stop {
	display: none;
}
.lity-slideshow .lity-group-start-stop .lity-start {
	display: none;
}
.lity-slideshow .lity-group-start-stop .lity-stop {
	display: inline-block;
}
/* Progress bar */
.lity-group-progress-bar {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0.33em;
}
.lity-slideshow .lity-group-progress-bar {
	display: block;
}
.lity-group-progress-bar-status {
	position: absolute;
	left: 0;
	height: 100%;
	top:0;
	background: #888;
}


/* Caption */
.lity-image-figure {
	display: block;
	margin: 0;
}

.lity-image-caption {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	color: #fff;
	font-style: italic;
	padding: 1rem;
}

/* Next, prev */
.lity-next, .lity-previous {
	display: block;
	border:0;
	padding: 0;
	margin: 0;
	position: fixed;
	border-radius: 50%;
	left:-4.75rem;
	text-align: center;
	top:50%;
	margin-top: -6rem;
	width: 8rem;
	height: 12rem;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: rgba(0, 0, 0, 0)
}
.lity-next[disabled], .lity-previous[disabled] {
	display: none;
}

.lity-next {
	left: auto;
	right: -4.75rem;
	text-align: right;
}

.lity-next:hover, .lity-previous:hover,
.lity-next:active, .lity-previous:active,
.lity-next:focus, .lity-previous:focus {
	background: rgba(255, 255, 255, .05)
}

.lity-next b, .lity-previous b {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 5.5rem;
	font-size: 3rem;
	line-height: 3rem;
	margin-top: -1.5rem;
	text-shadow: 0 0 10px #000;
	color: #fff;
	font-style: normal;
	opacity: 0.5;
}

.lity-next b {
	right: 5.5rem;
	left: auto;
}

.lity-next:hover b, .lity-previous:hover b,
.lity-next:active b, .lity-previous:active b,
.lity-next:focus b, .lity-previous:focus b {
	display: inline-block;
	opacity: 1;
}

.lity-no-transition-on-open .lity-content,
.lity-no-transition .lity-content {
	transition: none !important;
}
.lity-no-transition-on-open.lity-loading .lity-content,
.lity-no-transition.lity-loading .lity-content,
.lity-no-transition.lity-closed .lity-content {
	-webkit-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
}
